<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us?</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'web_app/css/style.css' %}">
    <script src="{% static 'web_app/js/script.js' %}"></script>
</head>
<body>
    <h1>About Us</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime repudiandae quas voluptate impedit iusto? Eum repellendus sed voluptates modi porro laborum culpa fugit itaque esse nobis, laudantium asperiores suscipit consectetur.</p>
    <a href="{% url 'home' %}">Home</a>
</body>
</html>