{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'web_app/css/style.css' %}">
    <style>
        * {
            text-decoration: none;
            margin: 0px;
            padding: 0px;
        }
        body{
            background-image: url("{% static 'web_app/images/background_img2.png' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            margin: 0;
            overflow: auto;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo"><a href="#">Saveur Moris</a></div>
            <div class="mainNav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    <li><a href="order.html">Order</a></li>
                    <li><a href="reservation.html">Reservation</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                    <li><a href="aboutus.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="loginBtn">
                <button type="button">Log In</button>
            </div>
        </nav>
    </header>
    <h1>Home</h1>
    <footer>

    </footer>
</body>
</html>