<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'web_app/css/style.css' %}">
    <style>
        * {
            text-decoration: none;
            margin: 0px;
            padding: 0px;
        }
        body{
            background-image: url("{% static 'web_app/images/background_img.png' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="logo"><a href="#">Saveur Moris</a></div>
        <div class="mainNav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Order</a></li>
                <li><a href="#">Reservation</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="loginBtn">
            <button type="button">Log In</button>
        </div>
    </nav>
</body>
</html>