{% extends 'web_app/base.html' %}                   <!--gets the base-->
{% block title %}Menu{% endblock %}   <!--overwrite the title-->
{% block extra_css %}
{% load static %}
    <style>
        * {
            text-decoration: none;
            margin: 0px;
            padding: 0px;
        }
        body{
            background-image: url("{% static 'web_app/images/bk_img1.png' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            margin: 0;
            overflow: auto;
        }
        h1 {
            color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
{% endblock %}

<!--this add the main contents to the web page.-->
{% block content %}
    <h1>Menus</h1>
{% endblock %}