{% extends 'web_app/main_page/base.html' %}   
{% load static %}   

{% block title %}Order{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'web_app/css/my_orders.css' %}">
<style>
  body {
      background-image: url("{% static 'web_app/images/bk_img2.png' %}");
      background-size: cover;
      background-position: center;
      min-height: 100vh;
      color: #fff;
      font-family: "Poppins", sans-serif;
  }
</style>
{% endblock %}

{% block content %}
<h1>My Orders</h1>
<div class="table-container">

 <table class="orders-table">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Total (Rs)</th>
      <th>Date</th>
      <th>Time</th>
      <th>OrderType</th>
      <th>DeliveryAddress</th>
      <th>Status</th> 
      <th>Items</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>{{ order.orderID }}</td>
      <td>{{ order.totalamount }}</td>
      <td>{{ order.order_date }}</td>
      <td>{{ order.order_time }}</td>
      <td>{{ order.ordertype }}</td>
      <td>{{ order.deliveryaddress }}</td>
      <td>{{ order.status }}</td>   
      <td>
        <button class="toggle-items-btn" onclick="toggleItems('{{ order.orderID }}')">+</button>
      </td>

      <td>
        {% if order.status != "completed" %}
         <form method="post" action="{% url 'cancel_order' order.orderID %}">
            {% csrf_token %}
            <button type="submit" class="cancel-btn">Cancel</button>
         </form>
        {% else %}
             <button type="button" class="cancel-btn" disabled>Completed</button>
        {% endif %}
      </td>
    </tr>

    <!-- Hidden items -->
    <tr id="items-{{ order.orderID }}" class="hidden-items">
      <td colspan="9">
        <table class="items-table">
          <thead>
            <tr>
              <th>Item Name</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            {% for item in order.orderitem_set.all %}
            <tr>
              <td>{{ item.menu.menuName }}</td>
              <td>{{ item.quantity }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="9">You have no orders yet.</td>
    </tr>
    {% endfor %}
  </tbody>
 </table>

</div>

<script>
function toggleItems(orderId) {
  const itemsRow = document.getElementById("items-" + orderId);
  itemsRow.style.display = (itemsRow.style.display === "none" || itemsRow.style.display === "") ? "table-row" : "none";
}
</script>
{% endblock %}
