{% extends 'web_app/main_page/base.html' %}
{% load static %}

{% block title %}Reviews{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'web_app/css/reviews.css' %}">

<style>
    body {
        background-image:url("{% static 'web_app/images/bk_img6.png' %}");
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
</style>
{% endblock %}


{% block content %}

<div class="reviews-container">
    <!-- LEFT SIDE -->
    <div class="review-column">
        <h2>Restaurant Reviews</h2>
        {% if user.is_authenticated %}
        <button class="review-btn" onclick="toggleRestaurantForm()">
            Leave a Review
        </button>
        <div id="restaurant-review-form" class="restaurant-review-form">
            <form method="POST" action="{% url 'add_restaurant_review' %}">
                {% csrf_token %}
                <label>Rating</label>
                <select name="rating" required>
                    <option value="5">⭐⭐⭐⭐⭐</option>
                    <option value="4">⭐⭐⭐⭐</option>
                    <option value="3">⭐⭐⭐</option>
                    <option value="2">⭐⭐</option>
                    <option value="1">⭐</option>
                </select>
                <label>Comment</label>
                <textarea name="comment" rows="3"></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
        {% endif %}

        {% for review in restaurant_reviews %}
        <div class="review-card">
            <strong>{{ review.customer.user.username }}</strong>
            <div class="review-rating">
                {% for i in "12345" %}
                {% if forloop.counter <= review.rating %} ⭐ {% else %} ☆ {% endif %} {% endfor %} </div>
                    <p class="review-comment" data-full="{{ review.comment|escapejs }}" onclick="toggleComment(this)">
                        {{ review.comment|truncatechars:120 }}
                    </p>
            </div>
            {% empty %}
            <p>No restaurant reviews yet.</p>
            {% endfor %}
        </div>

        <!-- RIGHT SIDE -->
        <div class="review-column">
            <h2>Menu Reviews</h2>
            {% for review in menu_reviews %}
            <div class="review-card">
                <strong>{{ review.customer.user.username }} | </strong>
                <span class="review-menu">{{ review.menu.menuName }}</span>
                <div class="review-rating">
                    {% for i in "12345" %}
                    {% if forloop.counter <= review.rating %} ⭐ {% else %} ☆ {% endif %} {% endfor %} </div>
                        <p>{{ review.comment }}</p>
                </div>
                {% empty %}
                <p>No menu reviews yet.</p>
                {% endfor %}
            </div>
        </div>

        <script>
            function toggleRestaurantForm() {
                const form = document.getElementById("restaurant-review-form")
                if (form.style.display === "block") {
                    form.style.display = "none"
                } else {
                    form.style.display = "block"
                }
            }
            function toggleComment(el) {
                const full = el.dataset.full

                if (el.classList.contains("expanded")) {
                    el.textContent = full.substring(0, 120) + "..."
                    el.classList.remove("expanded")
                } else {
                    el.textContent = full
                    el.classList.add("expanded")
                }
            }
        </script>
        {% endblock %}