{% extends 'web_app/account/base_account.html' %}
{% block title %}My Orders{% endblock %}

{% block content %}
<h2>My Orders</h2>

<div class="scroll-section">
    {% if orders %}
        {% for o in orders %}
        <div class="order-card">
            <h4>Order #{{ o.orderID }}</h4>
            <p>Date: {{ o.order_date|date:"Y-m-d H:i" }}</p>
            <p>Total: Rs {{ o.totalamount }}</p>

            <p>Status:
                <span class="status 
                    {% if o.status == 'completed' %}delivered
                    {% elif o.status == 'pending' %}pending
                    {% else %}cancelled{% endif %}
                ">
                    {{ o.status|title }}
                </span>
            </p>

            <h5>Items:</h5>
            {% for item in o.orderitem_set.all %}
                <p>- {{ item.menu.menuName }} (x{{ item.quantity }})</p>
            {% endfor %}
        </div>
        {% endfor %}
    {% else %}
        <p>No orders yet.</p>
    {% endif %}
</div>
{% endblock %}
