{% extends 'web_app/account/base_account.html' %}
{% block title %}My Profile{% endblock %}
{% block content %}

<h2>Personal Profile</h2>

<form method="POST" class="profile-form">
    {% csrf_token %}

    <div class="form-group">
        <label>First Name</label>
        {{ form.first_name }}
    </div>

    <div class="form-group">
        <label>Last Name</label>
        {{ form.last_name }}
    </div>

    <div class="form-group">
        <label>Email</label>
        {{ form.email }}
    </div>

    <div class="form-group">
        <label>Phone Number</label>
        {{ form.phone_no }}
    </div>

    <div class="form-group">
        <label>Address</label>
        {{ form.address }}
    </div>

    <button type="submit" class="btn-update">Update Profile</button>
</form>

{% endblock %}
