{% load static %}
<link rel="stylesheet" href="{% static 'web_app/css/footer.css' %}">

<footer id="footer">
    <p>&copy; 2025 Saveur Moris. All rights reserved.</p>
    <ul>
        <li><a href="{% url 'about_contact' %}">About & Contact</a></li>
        <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
    </ul>

    <!-- Social media icons for the footer (at the very bottom)-->
    <div id="footer-socials">
        <a href="https://www.instagram.com/saveurmoris" target="_blank">
            <img src="{% static 'web_app/images/instagramIcon.png' %}" class="social-icon">
        </a>

        <a href="https://www.twitter.com/MorisSaveu6550" target="_blank">
            <img src="{% static 'web_app/images/twitterIcon.png' %}" class="social-icon">
        </a>

        <a href="https://wa.me/23059220512" target="_blank">            <!-- Nilesh Khoosee phone number-->
            <img src="{% static 'web_app/images/whatsAppIcon.png' %}" class="social-icon">
        </a>
    </div>

</footer>