{% load static %}
<link rel="stylesheet" href="{% static 'web_app/css/navbar.css' %}">

<header>
    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'web_app/images/logo.png' %}" alt="Saveur Moris Logo"
                style="height: 40px; width: auto; margin: -10px; object-fit: contain; margin-left: 10px; display: block;">
            </a>
        </div>
        <div class="mainNav">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'menu' %}">Menu</a></li>
                <li><a href="{% url 'order' %}">Order</a></li>
                <li><a href="{% url 'reservation' %}">Reservation</a></li>
                <li><a href="{% url 'about_contact' %}">About & Contact</a></li>
            </ul>
        </div>
        <div class="loginBtn">
            <button type="button">Log In</button>
        </div>
    </nav>
</header>
