{% load static %}
<link rel="stylesheet" href="{% static 'web_app/css/navbar.css' %}">

<header>
    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'home' %}">Saveur Moris</a>
        </div>
        <div class="mainNav">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'menu' %}">Menu</a></li>
                <li><a href="{% url 'order' %}">Order</a></li>
                <li><a href="{% url 'reservation' %}">Reservation</a></li>
                <li><a href="{% url 'about_contact' %}">About & Contact</a></li>
            </ul>
        </div>
        <div class="login-container">
            <a href="{% url 'login' %}" class="login-link">Log In</a>
        </div>
    </nav>
</header>