header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

header a{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: contain;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

h1 {
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

h3 {
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    background: rgba(255, 255, 255, 0.1);   /* lighter transparency */
    backdrop-filter: blur(5px);             /* the actual glass blur */
    -webkit-backdrop-filter: blur(5px);     /* for Safari support */
    border: 1px solid rgba(255, 255, 255, 0.2); /* soft border for glass edge */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); /* depth */
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.username,
.password {
    color: black;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

input[type="text"],
input[type="password"] {
    padding: 8px;
    width: 250px;
    border: none;
    border-radius: 4px;
    outline: none;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button {
    transition: 250ms;
    font-size: 1em;
    background-color: antiquewhite;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    transition: 250ms;
    font-size: 1.1em;
    cursor: pointer;
}

.function {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

a {
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

p {
    color: rgb(255, 255, 255);
    margin-top: 5px;
}