.navbar {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    justify-content: space-between;
    /* Glass Effect */
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    position: sticky;
    top: 0;
}

.logo a {
    color: white;
    font-size: 0;
    font-weight: 600;
    text-decoration: none;
    display: block;
    background-image: url("../images/logo.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}

.logo a:hover {
    transition: 500ms;
    font-size: 20px;
    background-image: none;
    background-color: transparent;
    color: white;
}

li {
    list-style: none;
    display: inline-block;
}

.mainNav {
    flex-grow: 1; 
    text-align: center;
}

.mainNav a {
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    padding: 0px 10px;
    margin: 0 10px;
    display: inline-block;
    transition: background-color 500ms, padding 500ms, border-radius 500ms;
    border-radius: 25px;
}

.mainNav a:hover {
    text-decoration: underline;
    padding: 10px 20px; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.login-link {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255);
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid transparent;
    display: inline-block;
    transition: background-color 500ms, box-shadow 500ms, transform 500ms;
}

.login-link:hover {
    background-color: rgba(255, 255, 255, 0.5); 
    color: #333;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
}