h1 {
    font-family: "Playfair Display", serif;
    font-size: 28px;
    text-align: left;     
    margin-top: 20px;       
    color: white;    
    font-weight: 700; 
           
}

.menu-container {
   
    padding: 20px;
    border-radius: 10px;
}



.bottom {
    position: fixed;   
    bottom: 20px;      
    right: 20px;       
}


.menu-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 900px;   
    max-height: 475px;
    margin: auto;
    padding: 10px;
    overflow-y: auto;
}


.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    padding: 25px;
    transition: transform 0.3s ease;
    position: relative;
    max-width: 900px;  
    max-height: 180px;
   
}

.card:hover {
    transform: scale(1.05);
}


.card img {
    width: 100%;
    height: 90px;   
    object-fit: cover;
    border-radius: 8px;
    
}


.price {
    font-weight: bold;
    color: black;
    font-size: 10px;
    margin: 9px 0 3px;
}

.food-name {
    font-size: 15px;
    color: #333;
    margin: 5px 0;
    font-family: "Inter", sans-serif;

}



.quantity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    max-width: 4;
}

.qty-btn {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 4px;
}

.qty-btn:hover {
    background: #0056b3;
}
.quantity {
    width: 40px;
    text-align: center;
    margin: 0 2px;
    font-size: 12px;
}

.add-cart-btn {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 2px 12px;
    cursor: pointer;
    border-radius: 70px;
    font-size: 14px;
}

.add-cart-btn:hover {
    background: #218838;
}
.cart {
    display: none;
    position: fixed;              
    
    top: 135px;                
    left: 10px;              
    width: 143px;             
    background: black;
    border-radius: 0px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 10px;
    text-align: center;
    font-family: "Segoe UI", Arial, sans-serif;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    font-size: 8px; 
    overflow-y: auto;
    
    overflow-x: hidden;
}
#delivery-modal {
  
  display: none ;
  position:absolute ;
  text-align: left;   
  font-size: 10px;    
  padding: 10px;      

  margin-left: -19px;
}

#delivery-modal h3 {
  text-align: left;   
}

#delivery-modal label {
  display: block;     
  margin: 3px 0;      
  text-align: left;   
}


#delivery-modal input,
#delivery-modal select {
  width: 100%;        
  text-align: left;  
  margin-top: 3px;
  margin-left: 7px;
}

#close-modal {
  cursor: pointer;
  float: right;
  font-weight: bold;
}
#other-address-box {
  display: none;
  margin-top: 8px;
}


#confirm-order {
  margin-left: 25px;   
  margin-top: 10px;
  padding: 6px 12px;
  
  
  border: none;
  border-radius: 4px;
  cursor: pointer;

}


.cart:hover {
    transform: scale(1.05);   
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.cart h2 {
    font-size: 10px;
    margin-bottom: 10px;
    color: #f5f4f4;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

#cart-items {
    max-height: 200px;       
    overflow-y: auto;        
    color: #eee;
}
.remove-btn {
    padding: 2px 6px;     
    font-size: 25px;        
    background: #e74c3c;    
    color: #fff;            
    border: none;
    cursor: pointer;
    width: 24px;            
    height: 24px;           
    text-align: center;     
    line-height: 20px;     
}


.view-more {
    background: #000;              
    color: #fff;                  
    padding: 10px 10px;            
    border-radius: 25px;           
    border: none;                  
    font-size: 14px;               
    cursor: pointer;               
    transition: opacity 0.2s ease; 

    display: block;                
    margin: 40px auto;             
    text-align: center;           
}

.view-more:hover {
    opacity: 0.8;                  
}


#refresh-cart {
  background: #e74c3c;   
  color: #fff;
  border: none;
  padding: 5px 12px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 8px;
}

#refresh-cart:hover {
  background: #c0392b;   
}

.my-orders-btn {
    background: #000;              
    color: #fff;                   
    padding: 10px 10px;            
    border-radius: 25px;           
    border: none;                  
    font-size: 14px;               
    cursor: pointer;               
    transition: opacity 0.2s ease; 

    position: fixed;               
    top: 85px;                     
    right: 185px;                   
    text-align: center;            
    z-index: 1000;                 
}

.my-orders-btn:hover {
    opacity: 0.8;                  
}
