.head{
    background-color: wheat;
    display: grid;
    justify-items: center;
}

img {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    height: 100px;
    margin: 10px 0px 5px 0px;
    transition: 250ms;
}

img:hover{
    height: 105px;
    transition: 250ms;
}

.home{
    color: black;
    justify-content: center;
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 500ms;
}

.home:hover{
    transition: 500ms;
    text-decoration: underline;
    padding: 5px 40px 5px 40px;
    border-radius: 20px;
    background-color: rgba(50, 50, 50, 0.3);
}

h1 {
    text-decoration: underline;
    padding: 10px;
    display: grid;
    justify-items: center;
    background-color: beige;
}

main {
    margin: 20px;
    border-style: ridge;
    padding: 20px;
    background-color: rgb(200, 200, 165, 0.2);
}

footer{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    width: 100%;
}

footer p {
    font-size: 1em;
    color: #000000;
}

footer ul {
    padding: 0;
    list-style: none;
}

footer li {
    display: inline;
}

footer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 20px;
}

footer a:hover {
    text-decoration: underline;
}