.reviews-container {
    align-content: center;
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    gap: 20px;
}

/* two columns */
.review-column {
    flex: 1;
}

/* simple review card */
.review-card {
    background: rgba(255, 255, 255, 0.85);
    color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.review-card:hover {
    background: rgb(255, 255, 255);
    color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

/* rating */
.review-rating {
    margin: 5px 0;
}

.review-comment {
    cursor: pointer;
    line-height: 1.4;
}

/* menu name */
.review-menu {
    font-size: 0.9rem;
    color: #000000;
}

/* review button */
.review-btn {
    background-color: rgb(255, 232, 189);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.25rem;
    transition: 200ms;
}

.review-btn:hover {
    background-color: rgb(230, 210, 171);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    text-decoration: underline;
    font-size: 1.3rem;
    transition: 200ms;
}


/* hidden form */
.restaurant-review-form {
    display: none;
    background: white;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
}

/* form fields */
.restaurant-review-form select,
.restaurant-review-form textarea {
    width: 100%;
    margin: 5px 0 10px 0;
}

/* RESPONSIVE */

@media (max-width: 900px) {
    .reviews-container {
        flex-direction: column;
    }

    .review-column {
        width: 100%;
    }
}