/* Path: static/css/style.css */


/* body h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    position: sticky;
    top: 0;
}

.logo a{
    color: white;
    font-size: 25px;
    font-weight: 600;
}

li{
    list-style: none;
    display: inline-block;
}

.mainNav a{
    color: white;
    margin: 10px;
    transition: background-color 500ms, padding 500ms, border-radius 500ms;
    
}

.mainNav a:hover{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 25px;
}

.loginBtn button{
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 25px;
    transition: border-radius 500ms, box-shadow 500ms;
    border: 1px solid transparent;
}

.loginBtn button:hover{
    border-radius: 25px;
    box-shadow: 0 0 5px rgb(255, 255, 255);
} */